body {
  text-align: center;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin: auto;
}

.btn-wrapper button {
  background-color: red;
  border: 0px;
  height: 40px;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  box-shadow: #333 0px 1px 5px;
}

.img-wrapper img {
  width: 90px;
  height: 90px;
  margin-top: -10px;
}

.item {
  float: left;
  width: 120px;
  padding: 16px;
  /* border: solid black; */
}

.add-to-cart img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10%;
  top: 1%;
}

.cart-count {
  position: absolute;
  right: 9%;
  top: 10px;
  z-index: 1;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  padding: 7px;
}

button.remove-cart-btn {
  background-color: rebeccapurple;
  margin-top: 8px;
}
